@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto+Condensed&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppines', sans-serif;
    margin: 0;
}