@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto+Condensed&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: url("/Images/snow.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppines', sans-serif;
    margin: 0;
}

h1 {
    font-weight: lighter;
    font-size: 4rem;
    margin-top: -23rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 5rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}