/*@import url("https://www.uidesigndaily.com/posts/sketch-questionnaire-choice-submit-day-924");*/

@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto+Condensed&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    background-image: linear-gradient(rgb(198, 198, 219), rgb(111, 111, 141));
    font-family: 'Poppines', sans-serif;
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.2);
    width: 400px;
    max-width: 100%;
}

h2 {
    padding: 1rem;
    margin: 1rem 0;
}

.quiz-header {
    padding: 1rem;
}

ul li {
    cursor: pointer;
    font-size: 1.2rem;
    margin: 1rem 1;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #8e44ad;
    border: none;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
}